body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input[type="text"] {
  width: 50px;
}
section {
  border: 2px solid rgb(200,200,200);
  margin: 20px 0px 20px 0px;
  padding: 10px;
}
nav {
  color: rgb(200,200,200);
  background-color: rgb(83, 0, 83);
  display: flex;
  padding: 5px;
}
nav button {
  border: inherit;
  color: inherit;
  background-color: inherit;
  padding: 0 20px 0 20px;
  font-weight: bold;
  font-size: 1.2rem;
}
nav button:disabled {
  color: rgb(50,50,50);
}
.input-area {
  padding: 10px;
  border: 1px dashed rgb(100,100,100);
}
.value {
  font-weight: bolder;
}
.value-line {
  font-size: 1.2rem;
}
.error {
  color: red;
}
